* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* display: flex; */
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
}

.container__front {
    width: 100%;
    outline: 1px solid blue;
}

.container__front img {
    width: 100%;
}

.container__skill {
    outline: 1px solid cyan;
}

.container__hobby {
    outline: 1px solid lawngreen;
}